    <header class="bg-blue-600 text-white shadow-lg">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
            <div class="flex items-center">
                <h1 class="text-2xl font-bold">DataInsight</h1>
            </div>
            <nav>
                <ul class="flex space-x-6">
                    <li><a href="#inicio" class="hover:text-blue-200">Inicio</a></li>
                    <li><a href="#mision" class="hover:text-blue-200">Misión</a></li>
                    <li><a href="#vision" class="hover:text-blue-200">Visión</a></li>
                    <li><a href="/venta/dashboard/" class="hover:text-blue-200">Análisis ventas</a></li>
                </ul>
            </nav>
        </div>
    </header>